**/__pycache__
**/.ipynb_checkpoints
**/.vscode
/data/android/
/data/christianity/
/data/douban/
/data/twitter/
/data/visualizations_1hop
/data/analy_data.py
/data/*SG
/data/*npy
/data/*pth
/data/*png
/data/v5
/data/*csv
/data/visualizations_infected_area
/Lib/
/checkpoints_cfm/
/*pth
/data/*pt
/checkpoints_gfrr/*pt
/*.SG
*.pt
